*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BillionDreams';
    src: URL('../fonts/BillionDreams-vmgK9.ttf') format('truetype');
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(218deg, rgba(66,191,139,1) 45%, rgba(0,142,255,1) 72%);
    
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 20%;
    box-shadow: 0px 0px 22px rgb(183, 0, 255);
    background-color: whitesmoke;
    border-radius: 100px;
}

.social-icons img{
    width: 110%;
    height: 50%;
}



.social-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.social-icons ul li{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.sign h1{
    font-family: 'BillionDreams';
    font-size: 13vh;
    color: white;
    text-shadow: 5px 5px 4px black;
}

p{
    background-color: white;
    width: fit-content;
    font-weight: bold ;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: rgba(0,0,0,0.7);
    color: whitesmoke;
    box-shadow: 0px 0px 15px black;
}

nav ul li{
    display: inline;
    font-family: "Permanent Marker", cursive;
}

.desk{
    display: none;
}


a{
    text-decoration: none;
}



nav ul{
    display: flex;
    justify-content: space-around;
    gap: 17px;
    align-items: center;
    font-size: 6vw;
    font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    background: linear-gradient(90deg, rgba(196,200,10,1) 12%, rgba(255,94,0,1) 100%);
    padding: 15px 0px;
}

.sub-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 90vw;
    height: fit-content;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;

}



.sub-section img{
    width: 50%;
    height: 50%;
    margin-top: 20px ;
}

.text img{
    width: 50%;
    height: 50%;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    
}



hr.solid {
    border-top: 1px solid #bbb;
    width: 90%;
    margin-bottom: 10px;
    background-color: sandybrown;

}

strong{
    color: rgba(0,142,255,0.9);
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 0%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
       
}

.text-sign{
    width: 100%;
    height: fit-content;
    background-color: rgba(0,142,255,1);
    text-align: center;
    border-radius: 10px;
    
}

#Lingue .text-sign{
    background-color: #90be6d;
}

#Skills .text-sign{
    background-color: #f94144;
}

#Bio .text-sign{
    background-color: #f9c74f;
}

#Form .text-sign{
    background-color: #f4a688;
}

.text h1{
    font-size: 7vh;
    font-family: "Permanent Marker", cursive;
    color: rgba(255,255,255,1);
    text-shadow: 6px 6px 8px black;
        
}

.text p{
    
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    font-weight: normal;
    width: 100%;
    background: none;
    text-align: center;
    color: rgba(0,0,0,0.7);
    background-color: white;
    margin-bottom: 10px;
    
}

#Lingue p{
    margin: 0px;
    height: fit-content;
}

button{
    
    border: none;
    background-color: white;
    
}

.button-download-link{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: "Permanent Marker", cursive;
    font-size: 16px;
    border: none;
    color: seashell;
    background-color: rgba(255, 153, 0, 0.9);
    text-shadow: 2px 2px 1px black;
    padding: 3px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 7px black;
}

.button-download-link:hover{
    background-color: rgba(225, 153, 0, 0.9);

}

.button-download-link:active{
    top: 1px;
    background-color: rgba(210, 153, 0, 0.9);
}

.button-download-link img{
    width: 20px;
    height: 20px;
}


.icons-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.github{
    order: 5;
}
.java{
    order: 6;
}
.python{
    order: 4;
}
.html{
    order: 1;
}
.css{
    order: 2;
}

.sql{
    order: 3;
}

.languages-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: cornflowerblue;
    border-radius: 15px;
    
}

.languages-container p{
    width: 50%;
    height: 50%;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
}

.languages-container img{
    width: 27%;
}

.form-card{
    width: 100%;
    height: fit-content;
    background-color: #ececec;
    border-radius: 5px;
    padding: 10px;
    
    -webkit-backdrop-filter: blur(800px);
    backdrop-filter: blur(800px);
}


input[type=text], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {

    width: 100%;
    background-color: rgba(0,142,255,1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {

    background-color: rgba(0,122,255,1);
}

textarea{
    width: 100%;
    height: 149px;
    margin: 8px 0px;
    padding: 8px;
    resize: none;
    border-radius: 10px;
}

textarea:focus{
    border-color: green;
}




footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Permanent Marker", cursive;
    word-spacing: 10px;
    font-size: 2vh;
    width: 100vw;
    height: 3vh;
    background-color: rgba(0,0,0,0.7);
    gap: 10px;
}

footer p{
    background: none;
}


/*Scroll Behavior*/
@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px){

    nav{
        justify-content: space-between;
    }

    .sub-section{
        margin-bottom: 10px;
    }

    .sub-section:first-of-type{
        margin-top: 10px;
    }

    
    .social-icons{
        width: 35%;
    }


    .back-to-top-link{
        position: sticky;
        top: 90.8%;
        right: 99%; 
        filter: drop-shadow(0px 0px 3px black);
    }

    .back-to-top{
        width: 25px;
    }

    .dropdown{
        margin-left: 10px;
        margin-top: 7px;
    }

    rect{
        fill: rgba(255,255,255, 1);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 310px;
        left: 50px;
        background-color: rgba(0,0,0,0.3);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 5px;
        z-index: 1;
        
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: rgba(241, 241, 241, 0.5);
    }


    .dropdown:hover .dropdown-content {
        display: block;
    }


    .tab{
        display: none;
    }

    .linkedin{
        position: relative;
        order: 1;
        padding-right: 10px;
    }

    .linkedin:hover{
        top: 2px;
    }
    
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

    hr.solid{
        display: none;
    }

    nav{
        justify-content: space-between;
    }
    
    nav ul{
        font-size: 3vw;
        
    }

    nav ul li a:link{
        color: white;
    }

    nav ul li a:visited{
        color: white;

    }

    nav ul li a:active{
        color: rgba(255, 255, 0, 1);
        position: relative;
        top: 2px;
    }
    
    .linkedin{
        position: relative;
        padding-left: 10px;
    }

    .linkedin:hover{
        top: 2px;
    }

    .invisible{
        width: 28px;
    }
    
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: fit-content;
        width: 100vw;
        background-color: rgba(112,128,144, 0.7);
        
    }
    
    
    .sub-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 45vh;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 15px;
        margin: 10px;

    }

    .text{
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 100%;
        background-color: white;
        border-radius: 10%;
           
    }

    .text h1{
        font-size: 3vh;
        font-family: "Permanent Marker", cursive;
        color: rgba(255,255,255,1);
        text-shadow: 6px 6px 8px black;
    
    }

    
    
    .languages-container p{
        width: 50%;
        height: 17%;
        text-align: center;
        border-radius: 15px;
        padding: 5px;
    }

    .text img{
        width: 50%;
        height: 20%;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 10px;
        
    }

    #Bio .text img{
        height: 41%;
    }


    .button-download-link img {
        width: 20px;
        height: 20px;
    }

    .languages-container img{
        width: 40%;
        margin: 0;
    }


    .icons-container{
        display: flex;
        align-items: center;
        align-content: center;
        row-gap: 20px;
        flex-wrap: wrap;
        height: 80%;
    }

    .icons-container img{
        margin: 0;
        height: 40%;
        width: 30%;
    }

    #Form{
        width: 55%;
        height: 20%;
    }

    

    .mob{
        display: none;
    }

    .back-to-top-link{
        position: relative ;
        width: 0%;
        bottom: 300%;
        right: 32%;
        
    }

    .back-to-top{
        width: 85px;
    }


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

    hr.solid{
        display: none;
    }

    nav{
        justify-content: space-between;
    }

    nav ul{
        font-size: 2vw;
    }

    nav ul li{
        padding-right: 20px;
    }

    .social-icons{
        width: 10%;
        
    }

    .social-icons img{
        width: 100%;
        transition: 0.20s;
        
    }

    .social-icons img:hover{
        filter: drop-shadow(0px 0px 10px rgba(0,0,0,.6));
    }
    
    
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 15px;
        height: fit-content;
        width: 100vw;
        background-color: rgba(112,128,144, 0.7);
        
    }
    
    
    .sub-section{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 45vh;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 15px;
        margin: 10px;
        transition: 0.40s;

    }

    .sub-section:hover{
        box-shadow: 0px 0px 15px black;
        bottom: 3px;

    }

    
    .text-sign{
        width: 50%;
    }

    .sub-section:hover .text-sign{
        width: 100%;
        transition: 1s;

    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 100%;
        background-color: white;
        border-radius: 10%;
       
    }

    .text h1{
        font-size: 3vh;
        font-family: "Permanent Marker", cursive;
        color: rgba(255,255,255,1);
        text-shadow: 6px 6px 8px black;
            
    }

    
    
    
    .languages-container p{
        width: 50%;
        height: 17%;
        text-align: center;
        border-radius: 15px;
        padding: 5px;
    }

    .text img{
        width: 50%;
        height: 20%;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 10px;
        
    }

    #Bio .text img{
        height: 35%;
        width: 38%;
    }

    .button-download-link img{
        width: 20px;
        height: 20px;
    }

    .languages-container img{
        width: 40%;
        margin: 0;
    }

    .icons-container{
        display: flex;
        align-items: center;
        align-content: center;
        row-gap: 55px;
        flex-wrap: wrap;
        height: 60%;
    }

    .icons-container img{
        margin: 0;
        height: 40%;
        width: 30%;
    }



    nav ul li a:link{
        color: white;
    }
    
    nav ul li a:visited{
        color: white;
        
    }
    
    nav ul li a:hover{        
        background-color: yellow;
        background-image: linear-gradient(0deg, rgba(255,254,254,1) 29%, rgb(20, 227, 54) 70%);
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        
    }
    
    nav ul li a:active{
        position: relative;
        top: 1px;
        background-color: yellow;
        background-image: linear-gradient(0deg, rgba(220,220,220,1) 29%, rgb(20, 160, 54) 70%);
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        
    }

    .linkedin{
        position: relative;
        padding-left: 15px;
    }

    .linkedin:hover{
        top: 2px;
    }


    #Form{
        display: none;
    }


    .desk{
        display: block;
    }

    .back-to-top-link{
        position: relative ;
        width: 0%;
        bottom: 410%;
        right: 37%;
        left: -37%;
    }

    .back-to-top{
        width: 85px;
    }

    .back-to-top:hover{
        filter: drop-shadow(0px 0px 12px rgba(0,142,255,1));
        transition: 0.30s;
    }

    .mob{
        display: none;
    }

    .tab{
        display: none;
    }

}